<div class="account" style="background-image: url({{imgurl}})">
  <h1>Welcome, {{user.personaname}}</h1>
  <img src="{{user.avatarfull}}" alt="" />
  <h2>Level: {{steamlevel}}</h2>
  <button><a href="/account/ownedgames">Show me my games</a></button>
  
</div>