<div class="accountContainer">
  <div class="account" style="background-image: url({{imgurl}})">
    <div class="accountDetails">
      <h1 class="userName">{{user.personaname}}</h1>
      <img src="{{user.avatarfull}}" alt="" />
      <h4 class="level">Level: {{steamlevel}}</h4>
      <button class="userGamesBtn"><a href="/account/ownedgames">Show me my games</a></button>
      <button class="logoutBtn"><a href="/logout">Logout</a></button>
      
    </div>
  </div>
  

</div>