<h1>This is the game page</h1>

<form action="/games">
  <input type="text" placeholder="Search Game" />
  <button type="submit">Search</button>
</form>
<br>
{{#each games}}
<form action="/games/{{this.apps.appid}}">
    <button>{{this.apps.name}}</button>
</form>
{{/each}}


