<h1>Games Owned: {{count}}</h1>

{{#each list}}
<ul>
    <li>{{this.name}}</li>
    <li>{{this.playtime_forever}} hours</li>
    <li><img src="https://steamcdn-a.akamaihd.net/steam/apps/{{this.appid}}/header.jpg" alt=""></li>
</ul>
{{/each}}