<h1>Create a list</h1>

<form method="POST" action="/lists/create">
    <div class="mb-3">
        <div>
            <label class="form-label">Name of the list</label>
            <input class="form-control createBar" type="text" name="name" />
        </div>
        
        <br />
        <label class="form-label">Add a Description</label>
        <input class="form-control createBar" type="text" name="description" />
        <br />
        <label class="form-label">Add Games</label>
        <input class="form-control createBar" type="text" name="games" />
        <br />
        </div>
        <br />
        <button class="btn btn-light" type="submit">SUBMIT</button>
    </div>
</form>