<h1>Create a list</h1>

<form method="POST" action="/lists/create">
    <div class="mb-3">
        <label class="form-label">Name of the list</label>
        <input class="form-control" type="text" name="name" />
        <br />
        <label class="form-label">Description</label>
        <input class="form-control" type="text" name="description" />
        <br />
        </div>
        <button class="btn btn-light" type="submit">SUBMIT</button>     
    </div>
</form>