<h1>Create a list</h1>

<form method="POST" action="/lists/create">
    <div class="mb-3">
        <label class="form-label">Name of the list</label>
        <input class="form-control" type="text" name="name" />
        <br />
        <label class="form-label">Description</label>
        <input class="form-control" type="text" name="description" />
        <br />
{{!-- 
        <label for="games">Choose the Games:</label>
        <select name="games">
            {{#each response}}

            <option value="{{this._id}}">{{this.name}}</option>

            {{/each}}
        </select>
        <a class="nav-link dropdown-toggle hidden-arrow btn btn-primary" href="#" id="navbarDropdownMenuLink" role="button"
            data-mdb-toggle="dropdown" aria-expanded="false">
            dropdown --}}
        {{!-- </a> --}}
        
        </div>

        <button class="btn btn-light" type="submit">SUBMIT</button>
        
        
    </div>
</form>