body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.account{
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: flex;
  justify-content: space-between;
}

.container h4{
  text-align: center;
}

.tablehead{
  background-color: rgb(43, 43, 43);
}
