body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: #70baf6;
}

.accountContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #202329;
}

.userName {
  color: white;
  margin-bottom: 30px;
}

.level {
  color: #ad283f;
}

.account {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

.accountDetails {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 400px;
  background-color: rgba(32, 34, 41, 0.9);
  border-radius: 20px;
}

.accountDetails img {
  width: 150px;
}

.userGamesBtn {
  margin-top: 20px;
  width: 100px;
  padding: 10px;
  background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%);
  box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
  background-position: 25%;
  background-size: 330% 100%;
  border-radius: 12px;
}

.userGamesBtn a {
  color: white;
  text-decoration: none;
}

.container {
  border-radius: 10px;
  color: #e8f8ff;
  padding-top: 5px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.container h4 {
  text-align: center;
}

.tablehead {
  background-color: rgb(43, 43, 43);
  border: 3px solid #e8f8ff;
}

.tabledata {
  padding-top: 12px;
  background-color: #20232a;
  margin-top: 7px;
  margin-bottom: 7px;
}

.searchbar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  color: #e8f8ff;
  text-align: center;
  border-radius: 10px;
  background-color: #161920;
  height: 50px;
  width: 400px;
}

.btnsearch {
  border-radius: 10px;
  height: 50px;
}
.title {
  font-size: 75px;
  text-align: center;
  margin: 20px;
}

.btndetail {
  border-radius: 5px;
}

.gameDetails {
  background-color: #1b2838;
}

.detailsContainer {
  display: flex;
  justify-content: center;

  background-repeat: no-repeat;
}

.gameHeader {
  display: flex;
  justify-content: center;
  background-color: #0e151d;
}

.gameImage img {
  width: 800px;
  border-radius: 15px;
  margin: 10px;
  margin-top: 30px;
}

.gameDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 600px;
  border-radius: 15px;
  margin: 10px;
  margin-top: 30px;
  border: 3px solid #e8f8ff;
  text-align: center;
  padding: 20px;
}

.gameDescription hr {
  border-bottom: 2px solid rgb(255, 255, 255);
  width: 200px;
}

.steam {
  background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  padding: 10px;
}
.steam a {
  text-decoration: none;
  color: white;
}

.discount {
  background-color: #71ab21;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  color: white;
}

.priceInfo {
  background-color: black;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  color: #a0daf4;
}

.tagsContainer {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 140px;
  flex-wrap: wrap;
}

.tags {
  background-color: #243c4e;
  padding: 5px;
  margin: 5px;
  color: #57a4cd;
  border-radius: 3px;
  border: 1px solid #57a4cd;
}

.statsContainer {
  display: flex;
  justify-content: space-around;
}

.platforms {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.platform {
  background-color: #243c4e;
  padding: 5px;
  margin: 5px;
  color: #57a4cd;
  border-radius: 3px;
  border: 1px solid #57a4cd;
}

.ratings {
  display: flex;
  justify-content: center;
}

.rating {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.release {
  display: flex;
  justify-content: center;
}

.releaseDate {
  font-size: 15px;
  background-color: #4d5d67;
  padding: 10px;
  border-radius: 5px;
}

.screenshotsContainerContainer {
  margin-top: 200px;
  padding-bottom: 200px;

  display: flex;
  justify-content: center;
}

.screenshotsContainer {
  width: 1430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.screenshots {
  width: 400px;
  margin: 10px;
  border-radius: 12px;
}

.login {
  display: flex;
  justify-content: center;
  align-content: center;
}

.steamlogin {
  margin-top: 300px;
  padding: 30px;
  background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%);
  box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
  background-position: 25%;
  background-size: 330% 100%;
  border-radius: 12px;
}

.steamlogin a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.notfound {
  height: 700px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4d5d67;
  padding: 50px;
  border-radius: 15px;
}

.notfoundcontainer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.fourofour {
  font-size: 100px;
  margin-bottom: 50px;
}

.notfoundtxt {
  margin-top: 100px;
  color: #57a4cd;
}

.outbtn {
  margin-top: 25px;
  height: 50px;
  width: 150px;
  background-color: #243c4e;
  color: white;
  border-radius: 10px;
  font-size: 25px;
}

.lists {
  margin-top: 25px;
  background-color: ;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  flex-wrap: wrap;
}

.listDetailsBtn{
  border-radius: 5px;
  padding: 5px;
  background-color: #161920;
  color: white;
  
}

.oneList {
  margin: 10px;
}

.card-body {
  background-color: #4d5d67;
  color: white;
  border: 2px solid #70baf6;
  font-size: 20px;
}

.card-title{
  color:#70baf6;
  font-size: 35px;
}

.list-header {
  /* margin-top: 25px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-header h1 {
  font-size: 75px;
}

.list-header button {
  width: 200px;
  background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
  padding: 10px; 
  border-radius: 5px;
  margin: 10px;
}

.list-header button a{
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.allLists {
  height: 100%;
  margin: 0;
  background-color: #161920;
}


.stats img{ 
  width: 200px;
}

.ownedGamesContainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.stats{
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}