body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.account{ 

  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

